.App {
  text-align: center;
  background-color: #070302;
  min-height: 100vh;
  color: #C8BFC7;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.App-link {
  color: #09d3ac;
}

.landing-screen {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #EEEEEE;
  background: #070302;
  font-size: calc(10px + 5vmin);
  text-align: left;
  padding-top: 5vh;
  padding-left: 10vh;
}

.flex-two-thirds-column {
  min-width: 66%;
  justify-content: flex-start;
  /* margin-left: 20px; */
  /* padding-right: 5vw; */
  /* border-left: white solid .2vw; */
  color: #C8BFC7;
}

.flex-one-third-column {
  min-width: 103%;
  justify-content: center;
  /* padding-left: 5vw; */
  margin-right: 5vw;
  color: #C8BFC7;
}

.left-aligned-text {
  text-align: left;
}

.app-header {
  min-height: 10vh;
  background: #070302;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5vw;
  padding-top: 2vw;
  color: #EEEEEE;
  font-size: calc(12px + 3vmin);
}

.menu-items {
  padding-right: 2vw;
  font-size: calc(12px + 1vmin);
  cursor: pointer;
  color: #E1B07E;
}

.full-screen-page {
  min-height: 80vh;
  background: #070302;
  color: #EEEEEE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing-screen-text-box {
  padding: 2vh;
  max-width: 50vw;
}

.horizontal-card-image {
  width: 90vw;
  max-width: 30vh;
}

.horizontal-card {
  width: 90vw;
  display: flex;
  padding: 3vh;
  flex-wrap: wrap;
}

.navigation-gif {
  max-height: 20vh;
  padding-bottom: 5vh;
}

.full-width {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding-top: 10vh;
}

.sidebar {
  border-right: 6px solid #EEEEEE;
  min-height: 10vh;
  display: inline-block;
  padding-left: 2vw;
}

.left-aligned {
  /* padding-right: 10vw; */
}

.animated-horizontal-card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #070302;
}

.scatter-plot-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.scatter-plot {
  margin-top: 5vh;
  width: 60vw;
  height: 25vh;
}

.large-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  padding-bottom: 10vh;
  background: #070302;
  padding-left: 7vw;
  padding-top: 3vh;
  color: #C8BFC7;
}

.large-list-item {
  min-height: 10vh;
  font-size: calc(7px + 10vmin);
  border-bottom: 3px solid #C8BFC7;
  min-width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.small-text {
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3vh;
  color: #4F97A3;
}

.big-text {
  font-size: calc(10px + 6vmin);
  width: 60vw;
  padding-left: 20%;
  padding-right: 20%;
}

.intro-content {
  font-size: calc(8px + 1.5vmin);
  max-width: 90%;
  justify-content: center;
}

.border-left {
  /* border-top: white solid .2vw; */
}

.about-me-link {
  cursor: pointer;
  color: #E1B07E;
}

@media only screen and (min-width: 750px) {
  .horizontal-card {
    flex-wrap: nowrap;
    font-size: calc(6px + 2vmin);
  }

  .intro-content {
    font-size: calc(6px + 2vmin);
  }

  .large-list-item {
    min-height: 15vh;
    font-size: calc(10px + 10vmin);
    border-bottom: 3px solid #C8BFC7;
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .flex-one-third-column {
    min-width: 33%;
    justify-content: flex-start;
  }
}
