.App {
  text-align: center;
  background: black;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.landing-screen {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background: black;
  font-size: calc(12px + 3vmin);
  text-align: left;
}

.flex-two-thirds-column {
  width: 67vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
}

.one-third-right-column {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background: red;
  align-items: flex-end;
  min-width: 100vw;
  margin-right: 5vw;
  min-height: 100vh;
  background: black;
  min-height: 30vh;
  min-width: 10vw;
}
.app-header {
  min-height: 10vh;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5vw;
  padding-top: 2vw;
  color: white;
  font-size: calc(12px + 3vmin);
}

.menu-items {
  padding-right: 2vw;
  font-size: calc(12px + 1vmin);
  cursor: pointer;
}

.full-screen-page {
  min-height: 80vh;
  background: black;
  color: white;
}

.landing-screen-text-box {
  max-height: 20vh;
}
